
$Brightorange: hsl(31, 77%, 52%);
$Darkcyan: hsl(184, 100%, 22%);
$Verydarkcyan: hsl(179, 100%, 13%);

$paragraph-color: hsla(0, 0%, 100%, 0.75);
// para and body color
$heading-button: hsl(0, 0%, 95%);
// head